@import 'tailwindcss';

@layer utilities {
  .grid-background::before {
    content: '';
    background-image: url('/static/images/grid.svg');
    opacity: 0.05;
    z-index: -2;
    mask-image: linear-gradient(to bottom, black, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    @apply absolute top-0 right-0 bottom-0 left-0 dark:invert;
  }
}
