@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-background::before {
    content: '';
    background-image: url(/static/images/grid.svg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.03;
    z-index: -2;
  }
}
